services:
  api:
    container_name: chat_bot
    image: chat_bot
    build: .
    restart: always
    user: ubuntu
    environment:
      - GROQ_API_KEY=${GROQ_API_KEY}
      - BASIC_MODEL=${BASIC_MODEL}
      - PAGARME_API_KEY=${PAGARME_API_KEY}
      - PLAN_ID=${PLAN_ID}
    volumes:
      - ${DEV_ROOT_DIR}:/home/developer/chat
    command: bash -c "cd chat && npm i -g npm@10.8.1 && npm install && npm run build && ls -l .. && npm run start"
    logging:
      options:
        max-size: "10m"
        max-file: "3"
