services:
  api:
    container_name: chat_bot
    image: chat_bot
    build: .
    restart: always
    user: ubuntu
    volumes:
      - ${DEV_ROOT_DIR}:/home/developer/chat
    command: bash -c "cd chat && npm i -g npm@10.8.1 && npm install && npm run build && ls -l .. && npm run start"
    logging:
      options:
        max-size: "10m"
        max-file: "3"
